# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# use tabs by default for C#/C code
[*.{cs}]
indent_style = space
indent_size = 2
csharp_max_line_length = 100
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true
csharp_preferred_using_directive_placement = outside_namespace:suggestion

# Roslyn analyzer rules (example, more can be added based on Google C# Style Guide)
# dotnet_diagnostic.IDE0001.severity = warning # Name can be simplified
# dotnet_diagnostic.IDE0055.severity = error # Format document

# use 2-spaces for csproj
[*.{csproj,vbproj,vcxproj,vcxproj.filters,proj,nativeproj,locproj}]
indent_style = space
indent_size = 2